[Unit]
Description=etcd Daemon
After=network.target

[Service]
Type=notify
User=root
ExecStart={{ etcd_cmd }} \
						--discovery {{ etcd_discovery }} \
						--initial-advertise-peer-urls {{ etcd_initial_advertise_peer_urls }} \
						--advertise-client-urls {{ etcd_advertise_client_urls }} \
						--listen-client-urls {{ etcd_listen_client_urls }} \
						--listen-peer-urls {{ etcd_listen_peer_urls }} \
						--client-cert-auth \
						--trusted-ca-file {{ etcd_client_trusted_ca_file }} \
            --cert-file {{ etcd_client_cert_file }} \
						--key-file {{ etcd_client_key_file }} \
            --peer-client-cert-auth \
						--peer-trusted-ca-file {{ etcd_peer_trusted_ca_file }} \
						--peer-cert-file {{ etcd_peer_cert_file }} \
						--peer-key-file {{ etcd_peer_key_file }} \
						--data-dir {{ etcd_data_dir }} \
						--name {{ inventory_hostname }} \

Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=180
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
