export ETCDCTL_ENDPOINT="https://127.0.0.1:2379"
export ETCDCTL_KEY_FILE="{{ etcd_peer_key_file }}"
export ETCDCTL_CERT_FILE="{{ etcd_peer_cert_file }}"
export ETCDCTL_CA_FILE="{{ etcd_peer_trusted_ca_file }}"
