{
  "etcd_conf" : {
    "etcd_hosts" : "https://{{ ansible_host }}:2379",
    "etcd_conn_opts" : {
      "cert" : "/usr/lib/tuxlab/ssl/cert.pem",
      "key" : "/usr/lib/tuxlab/ssl/host.pem",
      "ca" : "/usr/lib/tuxlab/ssl/ca.pem"
    }
  },
  "docker_conf" : {
    "docker_args" : {
      "protocol" : "https",
      "host" : "{{ ansible_host }}",
      "port" : "2376",
      "cert" : "/usr/lib/tuxlab/ssl/cert.pem",
      "key" : "/usr/lib/tuxlab/ssl/host.pem",
      "ca" : "/usr/lib/tuxlab/ssl/ca.pem"
    }
  },
  "xterm_conf" : {
    "host" : "0.0.0.0",
    "port" : 80
  },
  "ssh_conf" : {
    "host" : "0.0.0.0",
    "port" : 22,
    "key" : "/usr/lib/tuxlab/ssl/host.key"
  }
}
