{
  "key_private" : "/etc/ssl/local/host.pem",
  "key_public" : "/etc/ssl/local/cert.pem",
  "key_ca" : "/etc/ssl/local/ca.pem",
  "swarm_node_ip" : "{{ swarm_node_ip }}",
  "swarm_node_port" : "4000",
  "swarm_cert_dir" : "/etc/ssl/local",
  "etcd_node_ip" : "{{ swarm_node_ip }}",
  "etcd_node_port" : "2379",
  "mongo_log_url" : "{{ MONGO_URL }}",
  "mongo_log_collection" : "logs"
}
