{
  "swarm_node_ip" : "{{ swarm_node_ip }}",
  "swarm_node_port" : "4000",
  "etcd_node_ip" : "{{ swarm_node_ip }}",
  "etcd_node_port" : "2379",
  {% if meteor_pass is defined %}
  "etcd_user" : "meteor",
  "etcd_pass" : "{{ meteor_pass }}",
  {% endif %}
  "default_image" : "alpine",
  "mongo_log_url" : "{{ MONGO_URL }}",
  "mongo_log_collection" : "logs"
}
