[Unit]
Description=TuxLab Production Service
After=network.target

[Service]
Type=notify
User=centos
Environment=PORT=80
Environment=ROOT_URL={{ root_url }}
Environment=MAIL_URL={{ mail_url }}
ExecStart=/bin/bash -c 'METEOR_SETTINGS="$(cat {{source_dir}}/private/settings.json)" node "{{deploy_dir}}/bundle/main.js"'
WorkingDirectory={{ deploy_dir }}
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=180
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
